extends layout

block content
  .jumbotron
    .container.center
      h1 JavaScript Zombies
      img(src="/images/JavaScript-Zombies.png", width="300")
      h2 
        | Memory Leaks, Garbage Collection 
        br
        | and dealing with the Undead
