doctype html
html
  head
    title JavaScript Zombies

    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/zombies.css')

    block style

    script(src='/assets/backbone.marionette/underscore.js')
    script(src='/assets/backbone.marionette/jquery.js')
    script(src='/assets/backbone.marionette/backbone.js')
    script(src='/assets/backbone.marionette/backbone.marionette.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')

    block javascript

  body
    header.navbar.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/JavaScript-Zombies.png', width='25')
            | &nbsp; JavaScript Zombies
        navigation.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/demo/memory-eater') 1. Memory Eater
            li
              a(href='/demo/scope') 2. Scope
            li
              a(href='/demo/global-var') 3. Global Var
            li
              a(href='/demo/closures') 4. Closures
            li
              a(href='/demo/zombie-view') 5. Zombie View

    .content
      block content

    footer.navbar.navbar-inverse(role='footer')
      .container
        ul.nav.navbar-nav
          li.active
            a(href='http://watchmecode.net', target="_blank") WatchMeCode: JavaScript Screencasts

        ul.nav.navbar-nav.navbar-right
          li
            a(href='http://mutedsolutions.com') Copyright &copy;2014 Muted Solutions, LLC. All Rights Reserved.
