extends layout

block demo
  script(src="/assets/memory-eater/memory-eater.js")
  script.
    $(function(){
      MemoryEater.start();
    });

block content
  .container
    .row
      .col-sm-6
        h1 The Memory Eater

        p &nbsp;
        p Click this button, and watch your browser memory go up!
        p &nbsp;

        button.btn.btn-danger#eat-more EAT MOAR MEMORYZ!!!!

      .col-sm-6
        h1 The Memory Cleaner

        p &nbsp;
        p Click this button, and watch your browser memory go back down!
        p &nbsp;

        form
          button.btn.btn-success#eat-less Clean Plate Club Members' Entrance

