extends layout

block content
  .container
    .row
      .col-sm-6
        h1 The Memory Eater

        p Click this button, and watch your browser memory go up!

        button.btn.btn-danger#eat-more EAT MOAR MEMORYZ!!!!

      .col-sm-6
        h1 The Memory Cleaner

        p Click this button, and watch your browser memory go back down!

        form
          button.btn.btn-success#eat-less Clean Plate Club Members' Entrance

