extends layout

block content
  .container
    .row
      .col-sm-2
        img.img-responsive(src="/images/JavaScript-Zombies.png")
      .col-sm-10
        h1 Scope And Garbage Collection

        p
          | When you're done with an object or variable, and you
          | don't need it hanging around anymore, you only need to 
          | de-reference it. The garbage collector will eventually 
          | clean it up for you, when there are no more referneces.
          | Controlling the scope of variables is an important
          | factor of allowing memory to be cleaned up as quickly
          | as possible.

    .row
      .col-sm-4.col-sm-offset-2
        h1 The Memory Eater

        p Click this button and watch your browser memory skyrocket!

        button.btn.btn-danger#eat-more EAT MOAR MEMORYZ!!!!

      .col-sm-4.col-sm-offset-1
        h1 The Memory Cleaner

        p Click this button, and watch your browser memory go back down!

        button.btn.btn-success#eat-less Clean Plate Club Members' Entrance

